    {{#if datos}}
    <div class="tj-detalle">
        <h2>{{datos.nombre}} (cód. {{datos.id}})</h2>
        <img src="/imagenes/parte-arriba/{{datos.foto}}" id="img-details" >
        <p>Talle: {{datos.talle}}</p>
        {{#if compra}}
        <p>Precio: ${{datos.precioC}}</p>
        {{else}}
        <p>Precio: ${{datos.precioA}}</p>
        {{/if}}
        <button id="btn-carrito">Agregar al carrito</button>
    </div>
    {{/if}}
    {{#if datos1}}
    <div class="tj-detalle">
        <h2>{{datos1.nombre}} (cód. {{datos1.id}})</h2>
        <img src="/imagenes/parte-abajo/{{datos1.foto}}" id="img-details" >
        <p>Talle: {{datos1.talle}}</p>
        {{#if compra}}
        <p>Precio: ${{datos.precioC}}</p>
        {{else}}
        <p>Precio: ${{datos.precioA}}</p>
        {{/if}}
        <button id="btn-carrito">Agregar al carrito</button>
    </div>
    {{/if}}
    {{#if datos2}}
    <div class="tj-detalle">
        <h2>{{datos2.nombre}} (cód. {{datos2.id}})</h2>
        <img src="/imagenes/mono-prendas/{{datos2.foto}}" id="img-details" >
        <p>Talle: {{datos2.talle}}</p>
        {{#if compra}}
        <p>Precio: ${{datos.precioC}}</p>
        {{else}}
        <p>Precio: ${{datos.precioA}}</p>
        {{/if}}
        <button id="btn-carrito">Agregar al Carrito</button>
    </div>
    {{/if}}