    {{#if datos}}
    <div>
        <h2>{{datos.nombre}} (cód. {{datos.id}})</h2>
        <img src="/imagenes/parte-arriba/{{datos.foto}}" id="img-prods" >
        {{#if compra}}
        <p>{{datos.precioC}}</p>
        {{else}}
        <p>{{datos.precioA}}</p>
        {{/if}}
        <button>Agregar al carrito</button>
    </div>
    {{/if}}
    {{#if datos1}}
    <div>
        <h2>{{datos1.nombre}} (cód. {{datos1.id}})</h2>
        <img src="/imagenes/parte-abajo/{{datos1.foto}}" id="img-prods" >
        {{#if compra}}
        <p>{{datos.precioC}}</p>
        {{else}}
        <p>{{datos.precioA}}</p>
        {{/if}}
        <button>Agregar al carrito</button>
    </div>
    {{/if}}
    {{#if datos2}}
    <div>
        <h2>{{datos2.nombre}} (cód. {{datos2.id}})</h2>
        <img src="/imagenes/mono-prendas/{{datos2.foto}}" id="img-prods" >
        {{#if compra}}
        <p>{{datos.precioC}}</p>
        {{else}}
        <p>{{datos.precioA}}</p>
        {{/if}}
        <button>Agregar al Carrito</button>
    </div>
    {{/if}}