{{#each datos}}
<p>{{this.nombre}}</p>
<img src="/parte-arriba/{{this.foto}}" >
{{/each}}
{{#each datos1}}
<p>{{this.nombre}}</p>
<img src="/parte-abajo/{{this.foto}}" >
{{/each}}
{{#each datos2}}
<p>{{this.nombre}}</p>
<img src="/mono-prendas/{{this.foto}}" >
{{/each}}