    {{#each datos}}
    <div class="tarjetas">
        <img src="imagenes/parte-abajo/{{this.foto}}" id="img-prods" >
        <p>{{this.nombre}}</p>
        <a href="/detalleproducto?id={{this.id}}">Comprar: ${{this.precioC}}</a>
        <a href="/detalleproducto?id={{this.id}}">Alquilar: ${{this.precioA}}</a>
    </div>
    {{/each}}