    {{#each datos}}
    <div class="tarjetas">
        <img src="imagenes/parte-arriba/{{this.foto}}" id="img-prods" >
        <p>{{this.nombre}}</p>
        <p>Talle: {{this.talle}}</p>
        <a href="/detalleproducto?id={{this.id}}&modo=1">Comprar: ${{this.precioC}}</a>
        <a href="/detalleproducto?id={{this.id}}">Alquilar: ${{this.precioA}}</a>
    </div>
    {{/each}}